<%- include('../partials/header.ejs') %>

<body>
  <%- include('../partials/navbar.ejs') %>
  <div class="container">
    <br />
    <br />
    <br />

    <div id="chat" class="row prodView">
      <%messages.forEach(message => {%>
      <%if(message.owner == user.id) {%>
    <p>
      <p style="background-color:darkgreen; position: relative; left: 35vw; max-width: 20vw; border-radius: 10px; color: white"><%=message.text%></p></p>
      <%} else {%>
      <p>
      <p style="background-color:grey; color: white; max-width: 20vw; border-radius: 10px; position: relative; left: 20vw;"><%=message.text%></p>
      </p>
      <%}%>
    <%})%>
    </div>
    <div class="row">
      <input type="text" name="" id="msg"><br>
      <input type="text" name="" id="username" value="<%=user.name%>" hidden>
      <input type="text" name="" id="userId" value="<%=user.id%>" hidden>
      <input type="text" name="" id="room" value="<%=room[0]+"_"+room[1]%>" hidden>
      <button onclick="send()">Send Message</button>
    </div>
    <%- include('../partials/footer.ejs') %>
  </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
<script>
  let room = document.getElementById("room").value;
  let username = document.getElementById("username").value;
  let userId = document.getElementById("userId").value;

  var socket = io("http://localhost:4000");

  addEventListener("load", (e) => {
    socket.emit("join", {
      room: room
    })
  });

  socket.on("disconnect", () => {
    console.log("Disconnected");
  });

  

  function send() {
    var msg = document.getElementById("msg").value;
    socket.emit("message", {
      username: username,
      userId: userId,
      room: room,
      text: msg
    });
    msg = '';
  }

  socket.on("message", (data) => {
    var chat = document.getElementById("chat");

    if (username == data.username) {
        var p = `<p><p style="background-color:darkgreen; position: relative; left: 35vw; max-width: 20vw; border-radius: 10px; color: white">${data.text}</p></p>`
        chat.innerHTML += p;
    } else {
        var p = `<p><p style="background-color:grey; color: white; max-width: 20vw; border-radius: 10px; position: relative; left: 20vw;">${data.text}</p>
      </p>`
      chat.innerHTML += p;
    }
  })
</script>