<%- include('../partials/header.ejs') %>

<body>
  <%- include('../partials/navbar.ejs') %>
  <div class="container">

    <br />
    <br />
    <br />

    <nav id="prodNav" class="navbar navbar-dark navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">

            <li class="nav-item dropdown">
              <a id="dropDownTitle" catId="" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </a>
              <ul class="dropdown-menu">
                <% categories.forEach(category => {%>
                <li><a class="dropdown-item catDropdown" href="" id="<%=category.id%>"><%=category.title%></a></li>
                <%})%>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a id="distDropDownTitle" distQuerry="" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Near Me (km)
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item distDropdown" href="" id="5">5</a></li>
                <li><a class="dropdown-item distDropdown" href="" id="10">10</a></li>
                <li><a class="dropdown-item distDropdown" href="" id="20">20</a></li>
                <li><a class="dropdown-item distDropdown" href="" id="30">30</a></li>
                <li><a class="dropdown-item distDropdown" href="" id="50">50</a></li>
                <li><a class="dropdown-item distDropdown" href="" id="100">100</a></li>
              </ul>
            </li>

            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button id="searchButton" class="btn btn-outline-light" type="submit">Search</button>
          </ul>
        </div>
      </div>
    </nav>

    <br />
    <div class="row prodView">
      <% products.forEach(product1 => {product1.dataValues.products.forEach(product=> {if(user == undefined || user.id !== product.userId){%>
      <div class="row">
        <div class="card mb-4" style="width: 95%; margin: auto;">
          <div class="row g-0">
            <div class="col-md-3">
              <img src="http://localhost:4000/productPics/<%=product.picture == null ? "no_image.png": product.picture.trim()%>" class="img-fluid rounded-start" alt="..." style="max-width: 250px" />
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title"><%= product.title %></h5>
                <p class="card-text">
                  <strong>Description: </strong><%= product.description %>
                </p>
                <p class="card-text">
                  <strong>Category: </strong><%=
              product.dataValues.category.dataValues.title %>
                </p>
                <p class="card-text">
                  <strong>Owner: </strong><%= product1.dataValues.name %><%if(product1.dataValues.rate !== null){%> [Rate: <%=product1.dataValues.rate%>]<%}%>
                </p>
                <p class="card-text">
                  <small class="text-muted">Updated at: <%= product.updatedAt %></small>
                </p>
              </div>
            </div>
            <div class="col-md-2">
              <form action="/deal/<%=product1.dataValues.id%>" method="GET">
                <button type="submit" class="btn btn-dark btn-block addRemoveButton">Propose Deal</button><br>
              </form>
            </div>
          </div>
        </div>
      </div>
      <% }})}) %>
    </div>
  </div>
  <%- include('../partials/footer.ejs') %>

  <script>
    const submitButton = document.querySelector("#searchButton");

    const catDropdown = document.querySelectorAll(".catDropdown");

    const dropDownTitle = document.querySelector("#dropDownTitle");

    const distDropdown = document.querySelectorAll(".distDropdown");

    const distDropDownTitle = document.querySelector("#distDropDownTitle");

    const inputSearch = document.querySelector("input");

    catDropdown.forEach(cat => {
      cat.addEventListener("click", e => {
        e.preventDefault();
        dropDownTitle.innerText = e.target.innerText;
        dropDownTitle.setAttribute("catId", Number(e.target.id));
      })
    })

    distDropdown.forEach(dist => {
      dist.addEventListener("click", e => {
        e.preventDefault();
        distDropDownTitle.innerText = e.target.innerText;

        const successCallBack = (position) => {
          console.log(position.coords.latitude);
          console.log(position.coords.longitude);
          distDropDownTitle.setAttribute("distQuerry", `lat=${position.coords.latitude}&lng=${position.coords.longitude}&dst=${e.target.innerText}`);
        }

        const failureCallBack = (err) => {
          console.log(err);
        }

        if (window.navigator) {
          window.navigator.geolocation.getCurrentPosition(
            successCallBack,
            failureCallBack
          );
        }
      })
    })

    submitButton.addEventListener("click", e => {
      if (dropDownTitle.innerText.trim() == "Categories" && inputSearch.value.trim() == "" && distDropDownTitle.innerText.trim() == "Near Me (km)") {
        window.location = "http://localhost:4000/product";

        // CATEGORY
      } else if (inputSearch.value.trim() == "" && distDropDownTitle.innerText.trim() == "Near Me (km)") {
        window.location = `http://localhost:4000/product?category=${dropDownTitle.getAttribute("catId")}`;

        // SEARCH
      } else if (dropDownTitle.innerText.trim() == "Categories" && distDropDownTitle.innerText.trim() == "Near Me (km)") {
        window.location = `http://localhost:4000/product?search=${inputSearch.value}`;

        // DISTANCE
      } else if (dropDownTitle.innerText.trim() == "Categories" && inputSearch.value.trim() == "") {
        window.location = `http://localhost:4000/product?${distDropDownTitle.getAttribute("distQuerry")}`;

        // CATEGORY & SEARCH
      } else if (distDropDownTitle.innerText.trim() == "Near Me (km)") {
        window.location = `http://localhost:4000/product?search=${inputSearch.value}&category=${dropDownTitle.getAttribute("catId")}`;

        // CATEGORY & DISTANCE
      } else if (inputSearch.value.trim() == "") {
        window.location = `http://localhost:4000/product?category=${dropDownTitle.getAttribute("catId")}&${distDropDownTitle.getAttribute("distQuerry")}`;

        // SEARCH & DISTANCE
      } else if (dropDownTitle.innerText.trim() == "Categories") {
        window.location = `http://localhost:4000/product?search=${inputSearch.value}&${distDropDownTitle.getAttribute("distQuerry")}`;

        // SEARCH & DISTANCE & CATEGORY
      } else {
        window.location = `http://localhost:4000/product?search=${inputSearch.value}&category=${dropDownTitle.getAttribute("catId")}&${distDropDownTitle.getAttribute("distQuerry")}`;
      }
    });
  </script>